footer {
  width: 479px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 35px;
}

footer img {
  width: 100%;
}

footer p {
  margin-top: 30px;
  font-size: 1.6rem;
}
